<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">


</head>
<body>
  <form method="POST" action="/api/editSubmit">
    <input type="hidden" name="id" value="<%= lunch[0].id %>"></input>
    <input type="text" name="editName" placeholder="New Name"></input>
    <input type="submit" value="Confirm Edit"></input>

  </form>


</body>
